.movieRow {
    
}

.movieRow--title {
    margin: 15px 0px 15px 50px;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 50px;
}

.movieRow--list{
    width: 999999px;
}

.movieRow--item {
    width: 150px;
    display: inline-block;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.95);
    transition: all ease-in-out 0.15s;
}

.movieRow--item img:hover {
    transform: scale(1);
}